#home{
position: absolute;
background: url('casa2.svg') no-repeat;
background-size: contain;
width: 32px;
height: 30px;
left: 58%;
z-index: 3;
}
#home:hover{
color:darkolivegreen;
}
#ejeHome{
	position: absolute;
	left: 58%;
}
#misgrupos{
   
    border-radius: 999px;
	box-shadow: 3px 3px 10px darkolivegreen;
	width: 20em;
    height: 20em;
	position:absolute;
	border-width:1.5px;
	text-align:center;
	z-index:1;
	cursor:pointer;
}
#misgrupos:hover{

	box-shadow: 2px 2px 5px #999;
}
#misgruposfather{
	position:absolute;
	left:2em;
	top: 3em;
	width:20%

}
#formulario{
	position:absolute;
	top:2em;
	right:2em;
}
#misgruposchild{
	width:auto;
	height: auto;
	top:48%;
	position:relative;
	background-color:transparent;
}
#contactimg{
height:8em;
position:relative;
top:-3em;
 border-radius: 14px;
}
.bolitas{
	opacity: 0.8;
	-webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
	background-color:#EEE;
	box-shadow:inset 2px 2px 5px #81bf2b;
	cursor:pointer;
	z-index:2;
	border-width:2px;
	border-style:solid; 
	border-color:#81bf2b;
	text-align:center;
}
.bolitas:hover{
	opacity: 1;
	box-shadow: 2px 2px 5px #81bf2b;
}
.bolagrupochild{
	position:relative;
	top:40%;
}
.bolitasSeg{
	opacity: 0.8;
	-webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
	background-color:#EEE;
	box-shadow:inset 2px 2px 5px red;
	cursor:pointer;
	z-index:2;
	border-width:2px;
	border-style:solid; 
	border-color:red;
	text-align:center;
}
.bolitasSeg:hover{
	opacity: 1;
	box-shadow: 2px 2px 5px red;
}


/*
#seguidores{
	width:100px;
	height:100px;
	border:1px solid grey;
	position:relative;
	float:left;
	left: 35%;
	
}*/
#seguidores a{
	color:#F00;
}
#seguidores{
	min-width:200px;
	width:auto;
	height:100px;
	text-decoration:auto;
	background-color:transparent;
	border-style:none;
	border-radius:5px;
	color: #555555;
	position:absolute;
	right:3em;
	top:15em;
}
.imageperfil{
	height:60px;
	width:auto;
	position:relative;
	float:left;
	margin:15px;
}
/*
.perfilcontact{
	min-height:100px;
	height:auto;
	width:300px;
	border:solid;
	border-width:2px;
	border-color:#DDD;
	border-radius: 5px;
	-webkit-box-shadow:inset 0 0 1px 1px #87CEFA;
	-moz-box-shadow:inset 0 0 1px 1px #87CEFA;
	box-shadow:inset 0 0 1px 1px #87CEFA;
	position: absolute;
	top: 2%;
	right:1%;
}
.perfilcontact li{
	list-style: none;
	float: left;
	left:30px;
	position: relative;
	margin: 0;
	display:list-item;
	padding: .1em .1em;
}*/
#dfollowed {
	margin: 2em;
	width: 27%;
	/*float: left;*/
	position: absolute;
	top: 23em;
	left:3em;
	}
#ulFollowed li{
height:2em;
width:12em;
padding:1em;
display:block;
background-color: khaki;
}
.followeduser{
cursor:pointer;
margin:0;
}
div.followeduser{
	display: inline;
	color: navy;
	}
.followeduser:active{
color:#CCC;
}
.followeduser:hover{
text-decoration:underline;
}
.imagefollowed{
	float: left;
	}
.online{
	float:left;
	}
#ulFollowed li{
	line-height: 1.3em;
	text-align: left;
}
#ulFollowed li:hover{
background-color:#f0e6ae;
}	
#foro{
position:absolute;
/*top:15%;*/
right:25%;
width:30%;
height:auto;
min-height: 520px;
top:3em;

background:#eee;
padding:1em;
padding-top: 5em;
border-left: 2px solid;
border-right: 2px solid;
/*box-shadow: 6px 6px 10px darkolivegreen;*/
}
#posText{
width:90%;}
#dcomentarios{
width:100%;
min-height:10em;
height:80%;
}
.pHeader{
border-bottom:1px solid darkolivegreen;
}
#dPerfilview{
position: absolute;
right: 7.5em;
top: -1em;
}
#girarmas{
background-image: url('flechaestilo32.png');
-webkit-transform: rotate(-35deg);
-moz-transform: rotate(-35deg);
-o-transform: rotate(-35deg);
-ms-transform: rotate(-35deg);
height: 32px;
width: 32px;
position: absolute;
top: 19em;
left: 15em;
}
#girarmenos{
background-image: url('flechaestilo32.png');
-webkit-transform: rotate(-159deg);
-moz-transform: rotate(-159deg);
-o-transform: rotate(-159deg);
-ms-transform: rotate(-159deg);
height: 32px;
width: 32px;
position: absolute;
top: 19em;
left: 3em;
}
#girarmasSeg {
background-image: url('flechaestilo32.png');
height: 32px;
width: 32px;
position: absolute;
top: 0em;
left: 3em;
z-index: 2;
}
#girarmenosSeg{
background-image:url('flechaestilo32.png');
-webkit-transform:rotate(180deg);
height:32px;
width:32px;
position:absolute;
top: 0em;
left: -3em;
z-index: 2;

}

#iNewPost{
display:inline-block;
margin-right:0.2em;
height: 16px;
width: 16px; 
background:url(png16.png)  -16px -33px;
}
#postSend{
font-family: 'MavenProMedium' !important;
background:-webkit-gradient(linear,left bottom,left top,color-stop(0,#E2E2E2),color-stop(1,#FEFFFE));
border: 1px solid #CCC;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #CCC;
border-right-color: #CCC;
border-bottom-color: #CCC;
border-left-color: #CCC;
-webkit-border-radius: 3px;
height:2.1em;
width:6em;
}
#FollowRequest{
display: none;
border-radius:5px;
-moz-box-shadow: 0 0 5px 5px darkolivegreen;
-webkit-box-shadow: 0 0 5px 5px darkolivegreen;
box-shadow: 0 0 5px 5px darkolivegreen;
width: 25em;
padding-left: 1em;
padding-bottom:1em;
left: 20em;
position: absolute;
}