.CF{
	display: none;
}
#CreationForm{
	min-width:50%;
	width:auto;	
	position:absolute;
	left:30%;
	border: solid 1px #d2d2d2;
	padding: 3px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:inset 0 0 1px 1px #87CEFA;
	-moz-box-shadow:inset 0 0 1px 1px #87CEFA;
	box-shadow:inset 0 0 1px 1px #87CEFA;	
}
.cancel{
visibility:hidden;
color:red;
}
.cancel:hover{
color:orange;
cursor:pointer;
}
#DateEvent{
	margin-bottom:15px;
	position:relative;
}
EventDay{
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	opacity:0.7;
	position:relative;
	float:left;
	-webkit-appearance: none;
	-webkit-box-shadow:inset 0 0 1px 1px #87CEFA;
	-moz-box-shadow:inset 0 0 1px 1px #87CEFA;
	box-shadow:inset 0 0 1px 1px #87CEFA;	
}
#EventHora{
	cursor:pointer;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-appearance: none;
	opacity:0.7;
	position:relative;
	width:100px;
	text-align:center;
	float:left;
	-webkit-box-shadow:inset 0 0 1px 1px #87CEFA;
	-moz-box-shadow:inset 0 0 1px 1px #87CEFA;
	box-shadow:inset 0 0 1px 1px #87CEFA;	
}
#SubmitEvent{
	position:relative;
	margin:15px;
}
#horas{
	position:relative;
	width:100px;
	max-height:150px;
	height:auto;
	overflow-y:scroll;
	text-align:center;
	float:left;
		-webkit-box-shadow:inset 0 0 1px 1px #87CEFA;
		-moz-box-shadow:inset 0 0 1px 1px #87CEFA;
		box-shadow:inset 0 0 1px 1px #87CEFA;	
}
#EventInfo{
	padding-left:15px;
	position:relative;
	float:left;
	margin:0;
	margin-right:20px;
}
.GroupsLis{
	position:relative;
	float:left;
	border: solid 1px #d2d2d2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:inset 0 0 1px 1px #87CEFA;
	-moz-box-shadow:inset 0 0 1px 1px #87CEFA;
	box-shadow:inset 0 0 1px 1px #87CEFA;	
	color:#333;
	opacity:0.8;
	max-width:300px;
	min-width:200px;
	width:auto;
	min-height:80px;
	height:auto;
	margin:0;
	margin-top:20px;
}
.groupelement{
	list-style:none;
}
.groupelement li{padding-left:20px;}
.groupelement .ui-selecting { background:#87CEFA; }
.groupelement .ui-selected { 
	background:#87CEFA;
	cursor:pointer;
	border: solid 1px #d2d2d2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	opacity:0.7;
}
.elementlist:hover{
	background:#87CEFA;
	cursor:pointer;
	border: solid 1px #d2d2d2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	opacity:0.7;
}
.evento{
	position:relative;
	float:left;
		-webkit-box-shadow:inset 0 0 1px 1px #87CEFA;
		-moz-box-shadow:inset 0 0 1px 1px #87CEFA;
		box-shadow:inset 0 0 1px 1px #87CEFA;	
}
.textarea{
	width:250px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	border: solid 1px #d2d2d2;
	padding: 3px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:inset 0 0 1px 1px #87CEFA;
	-moz-box-shadow:inset 0 0 1px 1px #87CEFA;
	box-shadow:inset 0 0 1px 1px #87CEFA;	
	white-space: pre-wrap;
	outline: none;
	outline-style: none;
	outline-width: initial;
	outline-color: initial;
	-webkit-appearance: none;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: -webkit-auto;
}
#NewEventButtonFather{
	position:relative;
	float:left;
}
#NewEventButton{
	width:60px;
	height:60px;
}
/*-----------------------------------------------------*/
#ulListaTiposMssg{
	position:absolute;
	left:2px;
}
#iNewEvent{
display:inline-block;
margin-right:0.2em;
height: 16px;
width: 16px; 
background:url(png16.png)  -16px -17px;
}
#bNewEvent{

background:-webkit-gradient(linear,left bottom,left top,color-stop(0,#E2E2E2),color-stop(1,#FEFFFE));
border: 1px solid #CCC;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #CCC;
border-right-color: #CCC;
border-bottom-color: #CCC;
border-left-color: #CCC;
-webkit-border-radius: 3px;
height:2.5em;
}
#bNewEvent:hover{
background:-webkit-gradient(linear,left bottom,left top,color-stop(0,#f2f2f2),color-stop(1,#Fefefe));
}
#bNewEvent:active{
background:-webkit-gradient(linear,left bottom,left top,color-stop(0,#FEFFFE),color-stop(1,#D4D4D4));
}